<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *appUnless='onlyOdd'>
            <li
            class="list-group-item" *ngFor="let odd of oddNumbers" [ngClass]="{odd : odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'black' : 'yellow'}">
            {{odd}}
          </li>
        </div>
        <div *appUnless='!onlyOdd'>
            <li
            class="list-group-item" *ngFor="let even of evenNumbers" [ngClass]="{even : odd % 2 !== 0}">
            {{even}}
          </li>
        </div>

      </ul>
      <!-- <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template> -->
      <p appBasicHighlight>style with directive</p>
      <p appBetterHighlight defaultColor="yellow" [highlightColor]="'red'">style with better directive</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase='5'>value is 5</p>
        <p *ngSwitchCase='10'>value is 10</p>
        <p *ngSwitchDefault>value is default</p>
      </div>
    </div>
  </div>
</div>
